.skeleton {
  h3, h4, p {
    animation: loading 1.7s infinite linear;
    background: #f6f7f8;
    background-image: -webkit-linear-gradient(right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-image: linear-gradient(right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
  }
  
  h3 {
    height: 22px;
    width: 200px;
  }

  h4 {
    height: 18px;
    width: 200px;
  }

  p {
    height: 18px;
    width: 200px;
  }
}

@keyframes loading {
  0% {
    background-position: -100px;
  }

  100% {
    background-position: 200px;
  }
}